<nav class="navbar navbar-expand-lg navbar-dark bg-primary my-nav">


  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a href="#">
          <i class="material-icons icon">person</i>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">{{username}}</a>
      </li>


      <li>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Author Profile</button>
            <button ngbDropdownItem>PC Member Profile</button>
            <button ngbDropdownItem>Settings</button>
            <button ngbDropdownItem>Log Out</button>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="right-home" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="right-conferences" href="#">All Conferences</a>
      </li>
    </ul>
  </div>

</nav>
<div class="conference-page-container">
  <div class="page-navigation-container">
    <div>
      <h5><u>All conferences</u></h5>
      <i class="material-icons" id="add-conference-button">control_point</i>
    </div>
    <div class="active-pink-3 active-pink-4 mb-4">
      <input class="form-control" type="text" placeholder="Search conference..." aria-label="Search">
    </div>
  </div>
  <div class="conference-list-container">
    <div class="conference-container">
      <div class="conference-header">
        <h4 class="conference-title">Title</h4>
        <p class="conference-phase"></p>
      </div>
      <p class="conference-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum."</p>
    </div>
    <div class="conference-container">
      <div class="conference-header">
        <h4 class="conference-title">Title</h4>
        <p class="conference-phase"></p>
      </div>
      <p class="conference-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
</div>
