<section id="login">
    <h1 class="login-title">Login</h1>

    <p class="btn btn-link register-link" (click)="goToRegister()">Not registered yet?</p>

    <div *ngIf="errors && errors.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ errors }}
        <button type="button" class="close" aria-label="Close" (click)="errors.splice(0, errors.length)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    

    <input class="form-control mb-2" type="text" [(ngModel)]="email" name="email" id="email" placeholder="Email">
    <input class="form-control mb-4" type="password" [(ngModel)]="password" name="password" id="password" placeholder="Password">

    <button class="btn btn-primary"  type="submit" (click)="onSubmit()">Login</button>
</section>
