<section id="login">
    <h1 class="login-title">Login</h1>
    <p class="btn btn-link register-link" (click)="goToRegister()">Not registered yet?</p>
    <input class="form-control mb-2" type="text" [(ngModel)]="email" name="email" id="email" placeholder="Email">
    <input class="form-control mb-4" type="password" [(ngModel)]="password" name="password" id="password" placeholder="Password">
    <p *ngIf="hasErrors">{{ error }}</p>
    <button class="btn btn-primary"  type="submit" (click)="onSubmit()">Login</button>

</section>
