<app-header></app-header>

<div class="conference-page-container" *ngIf="conference">
  <div class = "conference-page-header">
    <div class="conference-page-title">{{conference.title}}</div>
    <div>
      <p class="current-phase">Current phase: {{conference.phase}}</p>
      <button class="next-phase-button" *ngIf="conference.phase != 'REVIEW' && isPc && isPcProfile" (click)="nextPhase()">Next phase</button>
      <!-- <button class="next-phase-button" *ngIf="conference.phase != 'REVIEW'" (click)="nextPhase()">Next phase</button> -->
    </div>
  </div>
  <div class="conference-page-body">{{conference.description}}</div>
</div>


<div id="add-paper-form" *ngIf="conference && conference.phase == 'SUBMIT' && !isPcProfile && !submitted">
  <input class="input-field left" type="text" placeholder="Title" [(ngModel)]="paper.name" required>
  <!-- <input class="input-field right" type="url" placeholder="Abstract Url" [(ngModel)]="paper.abstractUrl" required>
  <input class="input-field left" type="url" placeholder="Full paper url" [(ngModel)]="paper.fullUrl"> -->
  <input class="input-field right" type="file" (change)="paper.abstractFile = $event.target.files[0]">
  <input class="input-field left" type="file" (change)="paper.fullFile = $event.target.files[0]">
  <input class="input-field right" type="text" placeholder="A few keywords" [(ngModel)]="paper.keywords">
  <input class="input-field left" type="text" placeholder="Topics" required [(ngModel)]="paper.topics">
  <input class="input-field right" type="text" placeholder="Other authors?" [(ngModel)]="paper.otherAuthors">

  <button class="submit-paper-button" (click)="onSubmit()">Submit paper</button>
</div>


<div *ngIf="conference && !isPcProfile && submitted">
  <div *ngIf="conference.phase == 'SUBMIT'">
    <p style="color: green;">Paper submitted !</p>
  </div>
  <div *ngIf="conference.phase == 'BIDDING' || conference.phase == 'REVIEW'">
    <p style="color: rgb(131, 131, 54);">Submission phase is over.</p>
  </div>
</div>

<div *ngIf="conference.phase == 'BIDDING' && isPc && isPcProfile">
  <div class="all-papers-container" *ngFor="let submission of submissionList">
    <app-paper-card 
          [conferencePhase]="conference.phase"
          [submission]="submission"
    ></app-paper-card>
  </div>  
</div>
<div *ngIf="conference.phase == 'REVIEW'">
  <div class="all-papers-container" *ngFor="let submission of submissionList">
    <app-paper-card
          [conferencePhase]="conference.phase"
          [submission]="submission"
    ></app-paper-card>
  </div>
</div>
