<app-header></app-header>

<div class="conference-page-container" *ngIf="conference">
  <div class = "conference-page-header">
    <div class="conference-page-title">{{conference.title}}</div>
    <div>
      <p class="current-phase">Current phase: {{conference.phase}}</p>
<!--    <button class="next-phase-button" *ngIf="conference.phase != 'REVIEW' && isPc" (click)="nextPhase()">Next phase</button>-->
      <button class="next-phase-button" *ngIf="conference.phase != 'REVIEW'" (click)="nextPhase()">Next phase</button>
    </div>
  </div>
  <div class="conference-page-body">{{conference.description}}</div>
</div>


<div id="add-paper-form" *ngIf="conference.phase == 'SUBMIT'">
  <input class="input-field left" type="text" placeholder="Title" [(ngModel)]="paper.name" required>
  <!-- <input class="input-field right" type="url" placeholder="Abstract Url" [(ngModel)]="paper.abstractUrl" required>
  <input class="input-field left" type="url" placeholder="Full paper url" [(ngModel)]="paper.fullUrl"> -->
  <input class="input-field right" type="file" (change)="paper.abstractFile = $event.target.files[0]">
  <input class="input-field left" type="file" (change)="paper.fullFile = $event.target.files[0]">
  <input class="input-field right" type="text" placeholder="A few keywords" [(ngModel)]="paper.keywords">
  <input class="input-field left" type="text" placeholder="Topics" required [(ngModel)]="paper.topics">
  <input class="input-field right" type="text" placeholder="Other authors?" [(ngModel)]="paper.otherAuthors">

  <button class="submit-paper-button" (click)="onSubmit()">Submit paper</button>
</div>

<div class="all-papers-container" *ngFor="let papers of paperList">
  <app-paper-card *ngIf="conference.phase != 'SUBMIT'" [conferencePhase]="conference.phase" [paper]="papers"></app-paper-card>
</div>

